
<div class="container">
    <div class="container-fluid">
        <div class="alert alert-success">
            <strong>Success!</strong> Reservation Cancelled for id {{reservation.id}}
        </div>
        <form role="form" name="reservation_form">
            <div class="col-sm-6">
                <div class="panel panel-info ">
                    <div class="panel-heading">Confirmation Code:</div>
                    <div class="panel-body">
                        <div class="form-group col-sm-6 row">
                            <div class="col-sm-6">
                                <input type="text" class="form-control" data-ng-model="reservation.id" name="id" id="id" required>
                            </div>
                            <div class="col-sm-6">
                                <a ng-href="#/reservations/cancel/{{reservation.id}}" ng-disabled="reservation_form.$invalid" class="btn btn-info">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

