<div class="container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="color: black;text-align: center">
                <h1><strong><i class="fa fa-home"></i>&nbsp;Owner - Home</strong></h1>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <a href="#/reservations_owner" style="color: black">
                    <div class="tile purple">
                        <h4 class="title"><span class="glyphicon glyphicon-calendar"></span>&nbspView Reservations</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#/reservations/create" style="color: black">
                    <div class="tile blue">
                        <h4 class="title"><span class="glyphicon glyphicon-calendar"></span>&nbspCreate Reservation</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="#/seating" style="color: black">
                    <div class="tile gray">
                        <h4 class="title"><span class="glyphicon glyphicon-th"></span>&nbsp;Seating</h4>
                    </div>
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="#/profile" style="color: black">
                    <div class="tile orange">
                        <h4 class="title"><span class="glyphicon glyphicon-list"></span>&nbsp;Profile</h4>
                    </div>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#/contacts" style="color: black">
                    <div class="tile green">
                        <h4 class="title"><span class="glyphicon glyphicon-user"></span>&nbsp;Contacts</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>