<div class="container">
    <section class="container-fluid">
        <div class="row" >
            <div class="col-sm-3" data-ng-repeat="table in ViewOpenSeatingVm.tables">
                <div class="box seating_table open">
                    <p>Table #{{table.tableno}}</p>
                    <p>{{table.status}}</p>
                    <a ng-href="#/seating" style="color:blue">Assign</a>
                </div>
                <br>
                <br>
            </div>

        </div>
        <br>
        <br>
    </section>
</div>
